{# Render a domain in grid layouts #}
{% load i18n templatetags %}

<div class="domain--grid">
    <h4 class="field domain__name--grid">
        <i class="fa fa-globe"></i>
        <a href="{% url 'domains-edit' %}?domain={{ domain.vd }}">
            {{ domain.vd }}
        </a>
    </h4>
    <div class="field domain__admin--grid">
        <div class="field-label">
            {% trans 'Administrador web' %}
        </div>
        <div class="field-value">
            {{ domain.adminID }}
        </div>
    </div>
    <div class="field domain__mailserver--grid">
        <div class="field-label">
            {% trans 'Servidor de correo' %}
        </div>
        <div class="field-value">
            {% if domain.accountactive == 'TRUE' %}
                <i class="fa fa-power-off enabled"></i> {% trans 'Activado' %}
            {% else %}
                <i class="fa fa-power-off disabled"></i> {% trans 'Desactivado' %}
            {% endif %}
        </div>
    </div>
    <div class="field domain__webserver--grid">
        <div class="field-label">
            {% trans 'Servidor web' %}
        </div>
        <div class="field-value">
            {% if domain.vd|domain_status %}
               <i class="fa fa-power-off enabled"></i> {% trans 'Activado' %}
            {% else %}
                <i class="fa fa-power-off disabled"></i> {% trans 'Desactivado' %}
            {% endif %}
        </div>
    </div>
    <ul class="domain__actions--grid">
        <li class="domain__action--grid manage">
            <i class="fa fa-envelope"></i>
            <a href="{% url 'mails' %}?domain={{ domain.vd }}">
                {% trans 'Administrar correos' %}
            </a>
        </li>
        <li class="domain__action--grid see">
            <i class="fa fa-cog"></i>
            <a href="{% url 'dns' %}?domain={{ domain.vd }}">
                {% trans 'Ver DNS' %}
            </a>
        </li>
       {% if domains_module != 'error' %}
        <li class="domain__action--grid edit">
            <i class="fa fa-edit"></i>
            <a href="{% url 'domains-edit' %}?domain={{ domain.vd }}">
                {% trans 'Editar dominio' %}
            </a>
        </li>
        <li class="domain__action--grid delete">
            <button
                data-launch-modal    = '#modal-delete'
                data-set-delete-dn   = "vd={{ domain.vd }},o=hosting,dc=example,dc=tld"
                data-set-delete-text = "
                  {% if 'nobody' != domain.adminID %}
                    <p>{% blocktrans trimmed with  webmaster=domain.adminID %}La cuenta {{ webmaster }} es actualmente webmaster de este dominio.{% endblocktrans %}</p>
                    <p>{% blocktrans trimmed with admin=admin.cn %}El nuevo propietario de la carpeta será la cuenta nobody (Ninguno) que no tienen acceso al sistema.{% endblocktrans %}</p>
                  {% endif %}
                      <p>{% blocktrans trimmed with domain=domain.vd webmaster=domain.adminID %}Al eliminar el dominio se desactivará el acceso web y se moverá la carpeta /var/www/html/{{ domain }} a la carpeta oculta /home/.trash que podrás eliminar de forma permanente desde la papelera.{% endblocktrans %}</p>
                    {% trans '¿Estás segur- que quieres borrar el dominio' %} {{ domain.vd }}?
                ">
                <i class="fa fa-remove"></i>
                {% trans 'Borrar' %}
            </button>
        </li>
        {% endif %}
    </ul>
</div>
