{# Render a mail account in grid layouts #}
{% load i18n %}

<div class="mail-account--list">
    <div class="field mail-account__email--list">
        <div class="field__label inline">
            {% trans 'Email' %}
        </div>
        <div class="field__value inline">
            {{ mail.email }}
        </div>
    </div>
    <div class="field mail-account__name--list">
        <div class="field__label inline">
            {% trans 'Nombre' %}
        </div>
        <div class="field__value inline">
            {{ mail.name }}
        </div>
    </div>
    <ul class="mail-account__links--list">
        <li class="mail-account__link--list edit">
            <i class="fa fa-edit"></i>
            <a href="{% url 'email' %}?mail={{ mail.email }}">
                {% trans 'Editar cuenta' %}
            </a>
        </li>
        <li class="mail-account__link--list delete">
            <button
                data-launch-modal    = '#modal-delete'
                data-set-delete-dn   = "{{ mail.dn }}"
                data-set-delete-text = "{% trans '¿Estás segur- que quieres borrar la cuenta de correo' %} {{ mail.email }}?">
                <i class="fa fa-remove"></i>
                {% trans 'Eliminar cuenta' %}
            </button>
        </li>
    </ul>
</div>
