{# Render a service with a grid layout #}
{% load i18n templatetags %}

<div class="service--grid" id="{{ service.id }}">
    <figure class="field service__image--grid">
        <img class="field__value" src="{% asset_img service.img %}" />
    </figure>
    <div class="field service__title--grid">
        <h3 class="field__value">
            {{ service.title }}
        </h3>
        <h5>{{ service.name }}</h5>
    </div>
    <div class="field service__description--grid">
        <div class="field__value">
            {{ service.description | safe }}
        </div>
    </div>
    <ul class="service__actions--grid">
        <li class="service__action--grid">
            <label>
                <i class="fa fa-plus"></i>
                {% trans 'Seleccionar' %}
            </label>
            <input type="checkbox" data-show="{{ service.id }}" name="{{ service.id }}" autocomplete="off" />
        </li>
    </ul>
    {% if service.dependencies|length > 0  %}      
    <div class="service__dependencies--grid">
        {% for dependency in service.dependencies %}
          {% with dependency|clean_description as description %}
            {% with dependency|split:"." as fields %}
                {% if fields|length == 1 %}
                <input type="hidden" value="{{ fields.0 }}" name="required-{{ service.id }}" class="dependency_{{ service.id }}_group"/>

                {% elif fields|length > 2 %}
                <div class="dependency" data-service="{{ service.id }}">
                    {% with id=fields.0 type=fields.1 label=fields.2 %}
                    <label class="dependency__label">
                        {{ label }}
                    </label>
                    <p class="dependency__description">
                        {% if description %}{{description}}{% else %}{{ descriptions|switch:id }}{%endif%}
                    </p>
                    <input class="dependency__input"
                           name="{{ fields.0 }}" data-service="{{ service.id }}"
                           placeholder="{{ label }}" required
                           type="text"
                    />
                    <div id="dependency__input-error-{{ fields.0 }}-{{ service.id }}"></div>
                    {% endwith %}
                </div>
                {% else %}
                    {% with id=fields.0 type=fields.1 %}
                    <input class="dependency_{{ service.id }}_system"
                           name="{{ fields.0 }}" 
                           type="hidden" value="{{ fields.1 }}"
                    />
                     <div id="dependency__input-error-{{ fields.0 }}-{{ service.id }}"></div>
                    {% endwith %}

                {% endif %}
            {% endwith %}
          {% endwith %}
        {% endfor %}
    </div>
    {% endif %}
</div>
