{# Render a service with a grid layout #}
{% load i18n templatetags %}

<div class="service--grid {{ action }}">
    <figure class="field service__image--grid">
        <img class="field__value" src="{% asset_img service.img %}" />
    </figure>
    <div class="field service__title--grid">
        <h3 class="field__value">
            {{ service.title }}
        </h3>
        <h5>{{ service.name }}</h5>
    </div>
    <div class="field service__description--grid">
        <div class="field__value">
            {{ service.description | safe }}
        </div>
    </div>
    <ul class="service__actions--grid">
        <li class="service__action--grid">
          {% if not service.id in not_disabled %}
            {% with fname=action|add:"-"|add:service.id%}
              {% with field=form|get_countitem:fname %}
                {{ field }}
            {%endwith %}
          {%endwith %}
        {% endif %}
        </li>
        {% if service.link_url %}
        <p class="service__action--grid">
            <i class="fa fa-cog"></i>
            {% if service.id == "openvpn" %}
                <a href="{% url 'users' %}" target="{{ service.target }}">{{ service.link_text }}</a>
            {% elif service.id == "mail" %}
               <a href="{% url 'mails' %}" target="{{ service.target }}">{{ service.link_text }}</a>
            {% else %}
                <a href="{{ service.link_url }}" target="{{ service.target }}">{{ service.link_text }}</a>
            {% endif %}
        </p>
        {% endif %}
      </ul>
      {% if service.dependencies|length > 0  %}
        {% with fname="dependency-"|add:service.id%}
          {% with field=form|get_countitem:fname %}
            {% if field %}
              {{ field }}
            {% endif %}
          {% endwith %}
        {% endwith %}
      {% endif %}

</div>
