{# Render a service with a grid layout #}
{% load i18n templatetags %}

<div class="service--grid" id="{{ service.id }}">
    <figure class="field service__image--grid">
        <img class="field__value" src="{% asset_img service.img %}" />
    </figure>
    <div class="field service__title--grid">
        <h3 class="field__value">
            {{ service.title }}
        </h3>
        <h5>{{ service.name }}</h5>
    </div>
    <div class="field service__description--grid">
        <div class="field__value">
            {{ service.description | safe }}
        </div>
    </div>
    <ul class="service__actions--grid">
        <li class="service__action--grid">
            {{ form|get_countitem:service.id}}
        </li>
    </ul>
    {% if service.dependencies|length > 0  %}      
    <div class="service__dependencies--grid">
        {% for dependency in service.dependencies %}
          {% with dependency|clean_description as description %}
            {% with dependency|split:"." as fields %}
                {% if fields|length == 1 %}
                <input id="id_dependency-{{ service.id }}" type="hidden" value="{{ fields.0 }}" name="dependency-{{ service.id }}" class="dependency_{{ service.id }}_group"/>

                {% elif fields|length > 2 %}
                <div class="dependency" data-service="{{ service.id }}">
                  {% with id=fields.0 type=fields.1 label=fields.2 %}
                    <label class="dependency__label">
                        {{ label }}
                    </label>
                    <p class="dependency__description">
                        {% if description %}{{description}}{%endif%}
                    </p>
                    {% with fname="input-required-"|add:service.id|add:"-"|add:fields.0 %}
                      {% with field=form|get_countitem:fname %}
                      {{ field }}
                      {% if field.errors %}
                        <div id="dependency__input-error-{{ fields.0 }}-{{ service.id }}">{{ field.errors|escape }}</div>
                      {%endif %}
                    {% endwith %}
                  {% endwith %}
                {% endwith %}
                </div>
                {% else %}
                  {% with fname="system-"|add:service.id|add:"-"|add:fields.0 %}
                    {% with field=form|get_countitem:fname %}
                      {{ field }}
                      {% if field.errors %}
                        <div id="dependency__system-error-{{ fields.0 }}-{{ service.id }}">{{ field.errors|escape }}</div>
                      {%endif %}
                    {% endwith %}
                  {% endwith %}
                {% endif %}
            {% endwith %}
          {% endwith %}
        {% endfor %}
    </div>
    {% endif %}
</div>
