{# Render a user with a grid layout #}
{% load i18n %}

<div class="user--list">
    <div class="field user__name--list">
        <div class="field__value inline">
              {{ user.username }}
        </div>
    </div>
    <div class="field user__domains--list">
        <div class="field__label inline">
            {% trans 'Dominios' %}
        </div>
        <div class="field__value inline">
            {% for domain in user.domains %}
                <a href="http://{{ domain }}" target="_blank">
                    {{ domain }}
                </a>
            {% empty %}
                {% trans "No hay dominios mantenidos por esta cuenta" %}
            {% endfor %}
        </div>
    </div>
    <div class="field user__services--list">
        <div class="field__label inline">
            {% trans 'Accesos' %}
        </div>
        <div class="field__value inline">
            <span class="{% if not user.sftp %}disabled{% endif %}">
              {% if user.usertype == 'sftp'%}
                SFTP
              {% else %}
                SSH/SFTP
              {% endif %} 
            </span>
            {% if phpmyadmin %}
            <span class="{% if not user.apache %}disabled{% endif %}">
                phpMyAdmin
            </span>
            {% endif %}
            {% if vpn %}
            <span class="{% if not user.openvpn %}disabled{% endif %}">
                VPN
            </span>
            {% endif %}
            {% if jitsi %}
            <span class="{% if not user.jitsi %}disabled{% endif %}">
               Jitsi 
            </span>
            {% endif %}
        </div>
    </div>
    <div class="user__links--list">
        <div class="user__link--list">
          {% if active_section == 'usersssh' %}
            <a href="{% url 'sshuser' %}?username={{ user.username }}">
                <i class="fa fa-edit"></i> {% trans 'Editar' %}
            </a>
          {% else %}
            <a href="{% url 'user' %}?username={{ user.username }}">
              <i class="fa fa-edit"></i> {% trans 'Editar' %}
            </a>
          {% endif %}
        </div>
        <div class="user__link--list">
          {% if domains_module != 'error' %}
           {% if user.domains %}
            <button
                data-launch-modal    = '#modal-notice'
                data-set-notice-list   = "{% for domain in user.domains %}<li>{{ domain }}</li>{% endfor %}"
                data-set-notice-text = "{% trans ' No se puede eliminar una cuenta mientras sea administradora de un dominio. Asigna los siguientes dominios a otra cuenta para poder eliminar ' %} {{ user.username }}">
            {% else %}
              <button
                data-launch-modal    = '#modal-delete'
                data-set-delete-dn   = "{{ user.dn }}"
                data-set-delete-text = "{% trans '¿Confirmas que quieres borrar la cuenta ' %} {{ user.username }}?">
            {% endif %}
                <i class="fa fa-remove"></i>
                {% trans 'Borrar' %}
            </button>
          {% endif %}
        </div>
    </div>
</div>
