{# Login #}
{% extends 'layouts/single-fixed-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--updating{% endblock %}
{% block page_html_title %}{% trans 'Actualizando' %}'{% endblock %}

{% block main %}
    <h1 class="page__title--login">
        Maadix CPanel 
    </h1>
    <figure class="logo--login">
        <img src="{% img 'logo-maadix--full.png' %}" />
    </figure>
    {% cookie 'oldDomain' %} 
    {% cookie 'newDomain' %}
    <div class="form-login hide" id="form-ready">
      <h3>{% trans 'Proceso en curso' %}</h3>
      <p>{% trans 'Se está confgurando la nueva página de acceso. En unos minutos recibirás el correo de confirmación. El nuevo Panel de Control será accesible en la siguiente dirección en cuanto el proceso esté terminado.' %}</p>
      <a class="form-login__fqdn-link" href="https://{% cookie 'newDomain' %}{{ path }}">
        https://{% cookie 'newDomain' %}{{ path }}
      </a>
    </div>
      <div id="form-updating" class="form-login hide">
        <h3>{% trans 'Actualizando el sistema..' %}</h3>
            <p>{% trans 'Esta operación tardará unos minutos. En cuanto el proceso termine recibirás un correo elctrónico de confirmación con la nueva dirección de acceso.' %}</p>
      </div>

{% endblock %}
{% block page_scripts %}
    <script type="text/javascript" src="{% js 'status-no-cache.js' %}"></script>
{% endblock %}

