{# Login #}
{% extends 'layouts/single-fixed-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--password-reset{% endblock %}
{% block page_html_title %}{% trans 'Bienvenid@!' %}'{% endblock %}

{% block main %}
    <h1 class="page__title--password-reset">
        Maadix CPanel
    </h1>
    <figure class="logo--password-reset">
        <img src="{% img 'logo-maadix--full.png' %}" />
    </figure>
    {{ error }}
    <form class="form-reset" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if not error %}
          <button class="form-reset__submit" type="submit">
            {% trans 'Recupera la contraseña' %}
          </button>
        {% endif %}
        <a class="form-reset__login-link" href="{% url 'login' %}">
            {% trans 'Volver a la pantalla de acceso' %}
        </a>
    </form>
{% endblock %}
