{% extends 'layouts/single-fixed-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--updating{% endblock %}
{% block page_html_title %}{% trans 'Recuperar contraseña' %}'{% endblock %}

{% block main %}
    <h1 class="page__title--login">
        Maadix CPanel 
    </h1>
    <figure class="logo--login">
        <img src="{% img 'logo-maadix--full.png' %}" />
    </figure>
    <div class="form-login" id="form-ready">
      <h3>{% trans 'Proceso en curso' %}</h3>
	<p>{% trans 'Procesando operación. Todos los datos para recuperar la contraseña han sido insertados correctamente. Recibirás un correo de confirmación en cuanto la contraseña haya sido restablecida. Este proceso puede tardar hasta 10 minutos.' %}</p>
        <a class="form-pass-set__login-link" href="{% url 'login' %}">
            {% trans 'Volver a la pantalla de acceso' %}
        </a>
    </div>

{% endblock %}
