{# user menu #}
{% load i18n templatetags %}

<div class="menu-user">
    <label class="menu-user__label" data-toggle="menu-user-links">
        <i class="fa fa-user"></i> {{ request.user.username }}
    </label>
    <ul id="menu-user-links" class="menu-user__items collapsed">
      {% if request.user.role != 'email' %}
        <li class="menu-user__item">
            <a href="{% url 'profile' %}">
                {% trans 'Perfil' %}
            </a>
        </li>
      {% endif %}
        <li class="menu-user__item">
            <a href="{% url 'logout' %}">
                {% trans 'Salir' %}
            </a>
        </li>
    </ul>
</div>
