{# Activation page #}
{% extends 'layouts/single-fixed-column-logged.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--activate{% endblock %}
{% block page_html_title %}Bienvenid@!{% endblock %}

{% block main %}
<h1 class="page__title--activate">
    {% trans 'Activar el panel de control' %}
</h1>
<div class="page__subtitle--activate">
    {% trans 'Cambia tus contraseñas en el primer acceso ' %}
</div>
<div class="page__content--activate">
    <div class="page__content-left--activate">
      <p>{% trans 'Este es tu primer acceso a la interfaz gráfica que te permitirá administrar el servidor. Por razones de seguridad, la primera vez que accedes a ella tienes que cambiar las contraseñas de dos cuentas del sistema:' %}</p>
      <ul>
        <li><span class="highlight">{{ username }}</span> {% trans 'Esta es la cuenta con la que te acabas de identificar y que tiene acceso al panel de control. El panel de control es la interfaz gráfica para gestionar tareas y otras cuentas del sistema.' %}</li>
        <li><span class="highlight">{{ sudousername }}</span> {% trans 'Esta cuenta no tiene acceso a través de la interfaz gráfica. Solo tiene acceso por ssh o sftp. Sin embargo tiene más privilegios que la anterior, ya que tiene acceso ilimitado al sistema. Esta es tu cuenta root (SuperUsuarix).'  %}</li>
      </ul>
      <p>{% trans 'Lee atentamente las instrucciones a continuación y guarda las nuevas contraseñas en un lugar seguro. Ambas son muy importantes ya que se refieren a usuarixs con altos privilegios en el sistema' %}</p>

        {% default_form form=form modifier='activate' %}
    </div>
{% endblock %}
