{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--services{% endblock %}
{% block page_html_title %}Settings{% endblock %}

{% block main %}
<h1 class="page__title--services">
  {% trans 'Configuración de instalación de la aplicación ' %}{{ appname }}
</h1>
<div class="page__subtitle--services">
      {% trans 'Edita parámetros de instalación' %}
</div>

<div class="page__content--services">
  <div class="page__content-left__services">

  {% if maintenance %}
    <div class="page__section--service error">
     <p>{% trans 'Los parámetros de instalación no se pueden modificar, debido a una tarea de mantenimiento pendiente' %}</p>
     <p>{% trans 'Actualiza antes el sistema para poder cambiar la configuración: ' %} <a class="" href="{%     url 'update' %}">{% trans 'Actualizar' %}</a></p>
    </div>
  {% else %}
    {% trans 'En esta página puedes consultar o modificar los parámetros de instalación' %}
  {% endif %}
  <form class="form--appid default" method="post">
    {% csrf_token %}
    <div class"form__field">
    {{ form.as_p }}
    </div>
    <button class="form__submit--appid" type="submit">{% trans 'Guardar' %}</button>
     {% if show_modal %}
      {% include 'blocks/modal-services.html' %}
     {% endif %}
  </form>
    <div class="page__content-right__services">
    </div>
</div>
{% endblock %}
