{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--clean{% endblock %}
{% block page_html_title %}{% trans 'Liberar espacio' %}{% endblock %}

{% block main %}
<h1 class="page__title--clean">
    {% trans 'Liberar espacio en  el servidor' %}
</h1>
<div class="page__subtitle--clean">
    {% trans 'En esta página puedes liberar espacio el servidor, eliminando archivos en desuso' %}
</div>
<div class="page__content--clean">
    <div class="page__content-left--clean">
        <div class="clean-text">
            <h3>{% trans 'Liberar espacio' %}</h3>
            <p>{% trans 'En esta página puedes liberar espacio el servidor eliminando archivos en desuso.' %}</p>
            <ul class="clean-list">
              <li><p>{% trans 'Se ejecutará el comando apt-get clean para limpiar la cache de paquetes instalados. Se eliminarán los archivos de los siguientes dicrectorio y que no son necesarios para el sistema:' %}</p>
            <pre>
            /var/cache/apt/archives/* /var/cache/apt/archives/partial/*
            /var/lib/apt/lists/partial/*
            /var/cache/apt/pkgcache.bin /var/cache/apt/srcpkgcache.bin
            </pre>
              </li>
            {% if optionals %}
              {% for opt in optionals %}
                <li>{{ opt }}</li>
              {% endfor %}
            {% endif %}
            </ul>
            <button class="clean-button" data-launch-modal="#modal-clean">
                {% trans 'Liberar espacio' %}
            </button>
        </div>
    </div>
    {% include 'blocks/modal-clean.html' %}
</div>
{% endblock %}
