{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--dns{% endblock %}
{% block page_html_title %}{% trans 'DNS' %}{% endblock %}

{% block main %}
{% fake_breadcrumb %}
<h1 class="page__title--dns">
    {% trans 'Configuración DNS encontrada para ' %} {{ domain }}
</h1>
<div class="page__subtitle--dns">
    {% trans 'Comprueba la configuración DNS de tu dominio' %}
</div>
<div class="page__content--dns">
    <div class="page__wide-content-left--dns">
        <div class="page__section--dns">
            <h3>{% trans 'Servidor web' %}</h3>
            {{ msg.A }}
            {% for record in records_A %}
                {% include 'views/record--table.html' with type='A' name=domain value=record required_value=ip has_value=True has_status=True %}
            {% endfor %}
        </div>
        <div class="page__section--dns email">
            <h3>{% trans 'Servidor de correo' %}</h3>
            {{ msg.MX }}
            {% for record in records_MX %}
                {% include 'views/record--table.html' with type='MX' name=domain value=record required_value=valid_MX has_value=True has_status=True %}
            {% endfor %}
            {% include 'views/record--table.html' with type='TXT' subtype='SPF' name=domain value=record_SPF required_value=valid_SPF has_value=True has_status=True %}
            {% include 'views/record--table.html' with type='TXT' subtype='DKIM' name=dkim_domain value=record_DKIM required_value=msg.DKIM has_value=True has_status=True %}
        </div>
        <div class="page__section--dns">
            <h3>{% trans 'Dirección IP' %}</h3>
            {% if record %}
            <p>{% trans 'Esta es la IP actualmente configurada para el dominio ' %} {{ domain }} : {{ record }}</p>
                {% if ip|stringformat:"s" == record|stringformat:"s" %}
                    {% blocktrans %}
                    La configuración es correcta para que puedas acceder a tus aplicaciones desde el
                    navegador, usando el dominio {{ domain }}.
                    {% endblocktrans %}
                {% else %}
                    <p> {% blocktrans trimmed %}
                    Cuando registramos un dominio hay un apartado en su configuración
                    llamado DNS. Los DNS son los que permiten transformar nombres de dominio
                    entendibles por humanos, en números que corresponden a las diferentes
                    máquinas conectadas y accesibles públicamente en internet.
                    {% endblocktrans %}
                    </p>
                    <p> {% trans 'En tu caso el número asociado a tu dominio no corresponde a tu máquina.' %}</p>
                    <p> 
                    {% blocktrans trimmed %}
                    Hay diferentes tipos de contenidos que un servidor puede mostrar.
                    Entre ellos los más comunes son páginas webs y correo. Para que estos
                    servicios funcionen correctamente y desde cualquier ubicación utilizando
                    nombres en lugar que números, hay que comunicar públicamente en cual
                    máquina están alojados los servicios. Esta comunicación se lleva a
                    cabo configurando correctamente los registros DNS.
                    {% endblocktrans %}
                    </p>
                    <div id="fix-A" class="page__section--dns">
                        <h3>{% trans 'Registro de tipo A para contenido web' %}</h3>
                        <p>
                        {% blocktrans trimmed %}
                        Para que puedas acceder a tus aplicaciones desde el navegador
                        usando tu propio dominio tendrás que cambiar la configuración de sus
                        DNS en el panel de configuración que te proporciona tu proveedor de dominio.
                        {% endblocktrans %}
                        </p>
                        <p>{% blocktrans trimmed %}
                        Esto te permitirá crear una página web en este servidor que se
                        mostrará al visitar {{ domain }} desde cualquier navegador. Además
                        podrás utilizar el dominio para acceder a los servicios que tengas
                        instalados, en lugar de hacerlo a través de {{ host }}. Por ejemplo
                        podrás acceder al Panel de Control utilizando la siguiente dirección:
                        {% endblocktrans %}
                        </p>
                        <p><a href="https://{{ domain }}{{ install_path }}" target="_blank">
                        https://{{ domain }}/cpanel</a></p><br/>
                      <p>{% trans 'Para ello sigue los siguientes pasos:' %}</p>
                        <ol>
                          <li>{% trans 'Entra en el panel de administración que te proporciona tu proveedor de dominio.' %}</li>
                          <li>{% trans 'Localiza una pestaña que indique algo como <em>DNS/editar registros dns</em>' %}</li>
                          <li>
                          {% if record %}
                                {% blocktrans %}
                                Edita el registro de tipo A cambiando la actual IP
                                <strong>{{ record }}</strong> por <strong>{{ ip }}</strong>.
                                {% endblocktrans %}
                          {% else %}
                            {% trans 'Crea el registro de tipo A asignando el valor.' %} 
                        {% endif %}

                            {% blocktrans %}
                            Los dominios principales se definen normalmente
                            con el carácter '@' mientras que los subdominios se suelen definir
                            emitiendo la parte relativa al dominio (para el subdominio subdomain.example.com
                            el nombre de la entrada sería solo subdomain. La sintaxis varía
                            dependiendo de la interfaz que proporciona tu proveedor de dominio.
                            {% endblocktrans %}
                          </li>
                          <li>{% trans 'Guarda los cambios.' %}</li>
                          <li>{% trans 'Este cambio puede tardar hasta 72 horas en ser operativo, dependiendo de la configuración de tu proveedor de dominio. Sé paciente.' %}</li>
                        </ol>
                    </div>
                {% endif %}
            {% else %}
	      <div id="fix-A" class="page__section--dns">
                {% blocktrans %}
                    El dominio {{ domain }} no está registrado o no está creado.
                {% endblocktrans %}
                <h3>{% trans 'Registro de tipo A para contenido web' %}</h3>
                {% trans 'Crea el registro de tipo A asignando la IP del servidor' %}
                {% include 'views/record--table.html' with type='A' name='@' required_value=ip %}

              </div>
            {% endif %}
        </div>
        <div id="fix-MX" class="page__section--dns">
            <h3>{% trans 'Registro de tipo MX para correo electrónico' %}</h3>
            {% if not mail_active and not is_mailman_domain %}
                    <p>
                    {% blocktrans trimmed %}
                    El servidor de correo no está activado para el dominio <em>{{domain}}</em>.
                    Puedes activarlo desde la <a href="{{ edit_url }}">página de edición
                    del dominio</a>.Hasta que no lo actives, el servicio de correo electrónico
                    no funcionará en este servidor.
                    {% endblocktrans %}
                    </p><br/>
            {% endif %}
            {% if mx_matches %}
                <p>{% trans 'La configuración del registro MX es correcta' %}</p>
            {% else %}
                <p>{%trans 'La configuración del registro MX actual no es correcta. Sigue las siguientes instrucciones:' %}</p>
                <ol>
                  <li>{%trans 'Entra en el panel de administración que te proporciona tu proveedor de dominio.' %}</li>
                  <li>{%trans 'Localiza una pestaña que indique algo como <em>DNS/editar registros dns</em>' %}</li>
                    <li>
                    {% if records_MX|length > 1 %}
                       {% trans 'Elimina todos los registros MX menos uno con los siguientes valores' %}:
                    {% else %}
                        {% trans 'Actualiza el registro MX con los siguientes valores' %}:
                    {% endif %}
                    {% include 'views/record--table.html' with type='MX' name=domain value=record required_value=host show_priority=True %}
                    </li>
                     <li>{%trans 'Guarda los cambios' %}</li>
                    <li>{% blocktrans %}
                    Este cambio puede tardar hasta 72 horas en ser operativo,
                    dependiendo de la configuración de tu proveedor de dominio. Esta fase
                    es conocida como propagación de los DNS. Para averiguar si los DNS se
                    han propagado ya, puedes volver a visitar esta misma página. Cuando el estado
                    en la primera tablilla se ponga en 'OK' Ya podrás empezar a usar tu nuevo
                    servidor de correo electrónico.
                    {% endblocktrans %}
                    </li>
                </ol>
            {% endif %}
        </div>
        <div id="fix-SPF" class="page__section--dns">
            <h3>{% trans 'Registros de tipo SPF para correo electrónico' %}</h3>
            {% if record_SPF|stringformat:"s" == valid_SPF|stringformat:"s" %}
                <p>{% trans 'La configuración del registro SPF es correcta' %}</p>
            {% else %}
              <p>{% blocktrans trimmed  %}
                SPF (Sender Policy Framework) es un registro de tipo TXT que especifica
                qué servidores pueden enviar correo electrónico en nombre de tu dominio.
                Los proveedores de servicios de correo electrónico requieren a menudo
                registros SPF válidos. Un registro SPF ausente o incorrecto puede
                provocar que tu correo electrónico sea enviado a la carpeta de correo no deseado.
                Algunos operadores podrían incluso bloquear tus correos por completo.
                Para evitar estos problemas, tendrás que añadir el siguiente registro de
                tipo TXT a cada dominio que quieras utilizar para crear cuentas de
                correo electrónico (además del registro MX):
              {% endblocktrans %}</p>
                {% include 'views/record--table.html' with type='TXT' name=domain value=record required_value=valid_SPF %}
            {% endif %}
        </div>
        <div id="fix-DKIM" class="page__section--dns">
            <h3>{% trans 'Registros de tipo DKIM para correo electrónico' %}</h3>
            {% if dkim_matches %}
                <p>{% trans 'La configuración del registro DKIM es correcta' %}</p>
            {% else %}
                <p>{% blocktrans trimmed %}
                El objetivo de DKIM (DomainKeys Identified Mail) es asegurar que
                un mensaje es realmente enviado desde su dominio.
                Vista la complejidad de su configuración, es mejor asegurarse de
                que se ha insertado correctamente su valor en los DNS ya que, al
                igual que pasa con los registros SPF, es mejor no tener ningún
                registro DKIM que tener uno incorrecto.
                {% endblocktrans %}
                </p>
                {% if editurl %}
                    <p>{% trans 'La clave DkiM no está activada.' %}</p>
                    <p>{% trans 'Puedes activarla desde la página de edición del dominio: ' %}
                        <a href="{{ editurl }}"</a>{% trans 'Activar' %}</a></p>
                {% endif %}
                <p>
                {% blocktrans trimmed %}
                Lamentablemente, este tipo de registro tiene una sintaxis
                diferente dependiendo del proveedor con el que tengas contratado
                el dominio. Estos son los valores DKIM correctos para tu dominio:
                {% endblocktrans %}
                </p>
                {% include 'views/record--table.html' with type='TXT' subtype='DKIM' name=dkim_domain value=record_DKIM required_value=msg.DKIM %}
                {% blocktrans trimmed %}
                La sintaxis para el registro DKIM varia en función del proveedor
                con el que tengas contratado el dominio y de si se trata de un dominio
                de primer nivel o de un subdominio. En esta página hemos recopilado
                todas las posibles fórmulas de configuración que podrías encontrar:
                {% endblocktrans %}
                <a href="https://docs.v2.maadix.net/dns/#registro-dkim" target="_blank">
                https://docs.v2.maadix.net/dns/#registro-dkim</a>
                {% blocktrans trimmed %}
                En la misma página encontrarás un enlace a una herramienta para averiguar
                que el registro DKIM creado sea correcto
                {% endblocktrans %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
