{# Form to edit a domain #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--domain{% endblock %}
{% block page_html_title %}{% trans 'Editar dominio' %}{% endblock %}

{% block main %}
{% fake_breadcrumb %}
<h1 class="page__title--domain">
    {% trans 'Editar dominio' %}
</h1>
<div class="page__subtitle--domain">
    {% trans 'Establece qué usuarix tendrá permiso para editar los archivos del dominio example.com' %}
</div>
<div class="page__content--domain">
    <div class="page__content-left--domain">
        <h3>{{ domain }}</h3>
	{% if domains_module == 'error' %}
	  <form class="default" method="POST">
	  {% csrf_token %}
	  <ul class="errorlist nonfield">
	    <li>
	    {% trans 'Una operación previa ha generado un error. Reanudala para poder seguir editando dominios' %}
	    </li>
	  </ul>
	    <button class="modal__submit--genericlock confirm" type="submit" name="writeldap">
	  {% trans 'Reanudar Proceso' %}
	    </button>
	</form>
	{% else %}
	  {% default_form form=form modifier='domain' %}
	{% endif %}

    </div>
</div>
{% endblock %}
