{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--fqdn{% endblock %}
{% block page_html_title %}{% trans 'FQDN' %}{% endblock %}

{% block main %}
<h1 class="page__title--fqdn">
  {% trans 'Cambiar nombre de dominio del servidor' %} 
</h1>
<div class="page__subtitle--fqdn">
    {% trans 'Página de configuración avanzada' %}
</div>
<div class="page__content--fqdn">
  <div id="form-wrapper--fqdn" class="page__content-right--fqdn {% if not display_form %}collapsed{% endif %}">
      {% if maintenance == 'ready' %} 
        <div class=page__section--warning">
          <div class="no-services">
              <h3>{% trans 'Hay una tarea de mantenimiento pendiente' %}</h3>
          {% trans 'Actualiza antes el sistema para poder cambiar el dominio del servidor: ' %} <a class="" href="{%     url 'update' %}">{% trans 'Actualizar' %}</a>
          </div>
        </div>
       {% else %}
        <div class="page__actions--fqdn">
            <button class="page__action--fqdn add" data-toggle="form-wrapper--fqdn">
                {% trans 'Cambiar dominio  del servidor' %}
            </button>
        </div>
        {% default_form form=form modifier='fqdn' %}
      {% endif %}

  </div>

    <div class="page__content-left--fqdn">
        <div class="page__section--fqdn">
          <p>{%trans 'En esta página puedes cambiar el dominio principal asociado a tu servidor.' %}</p>
          <p>{%trans 'El nombre que distingue de forma única el servidor es ' %} "<b>{{ fqdn }}</b>".</p>
          <p>{%trans 'Este valor se denomina FQDN (sigla en inglés de fully qualified domain name). El FQDN está compuesto por dos partes: ' %} "<b>{{ servername }}</b>" {%trans '[Nombre del equipo] , y ' %}<b>{{ server_domain }}</b> {%trans '[Dominio asociado] '%}.</p>
          <p>
          {% blocktrans trimmed %}En esta página puedes proceder a sustituir el valor del dominio asociado "<b>{{ server_domain }}</b>" por otro, de tu elección.{% endblocktrans %}
          </p>
          <p>{%trans 'Para cambiar este valor es indispensable que crees antes las configuraciones de DNS necesarias. Para ello, sigue las siguientes instrucciones.' %}</p>

        </div>
        <div class="page__section--fqdn">
            <h3>{% trans 'Configuración actual' %}</h3>
                {% include 'views/fqdnrecord--table.html' with servername=servername domain=server_domain fqdn=fqdn %}
        </div>
        <div class="page__section--fqdn">
          <p>{% blocktrans %}
            El valor "Nombre del servidor" no puede ser cambiado. Solo podrás cambiar el valor "Dominio Asociado". Así, por ejemplo, si el dominio que quieres usar a partir de ahora fuera "example.com", tu nuevo FQDN será "{{ servername }}.example.com".
            {% endblocktrans %}
            </p>
        </div>

        <div class="page__section--fqdn">
            <h3>{% trans 'Nueva configuración' %}</h3>
                {% include 'views/fqdnrecord--table.html' with servername=servername domain="example.com" fqdn=servername|add:".example.com" %} 
        </div>
        <div class="page__section--fqdn">
            <h3>{% trans 'Dirección IP' %}</h3>
            <p>{% trans 'Para poder cambiar este valor tienes que crear el subdominio y las configuraciones de DNS necesarias. Estas configuraciones las tendrás que hacer desde el panel de gestión de Zonas DNS, de tu proveedor de dominio.' %}
            </p>
            <p>{% trans 'Siguiendo el ejemplo anterior, antes de poder proceder, necesitarás crear los siguientes registros DNS (sustituye example.com por tu propio dominio)'%}
            </p>
        </div>
        <div class="page__section--fqdn">
            <h3>{% trans 'Configuración requerida' %}</h3>
            {% include 'views/record--table.html' with type='A ' name=servername|add:".example.com" required_value=ip %}                
            {% include 'views/record--table.html' with type='MX' name=servername|add:".example.com" required_value=servername|add:".example.com"|add:"." %}
            {% include 'views/record--table.html' with type='TXT' name=servername|add:".example.com" required_value='&quot;v=spf1 a mx ~all&quot;' %}
        </div>
        <div class="page__section--fqdn">
            <h3>{% trans 'Clave Dkim' %}</h3>
            <p>{%trans 'Durante el proceso se generará la clave DKIM para el nuevo dominio de este servidor. Tendrás que utilizar este valor, que encontrarás en la página principal una vez acabado el proceso, para crear la entrada DNS correspondiente. Este valor es muy importante para garantizar que los correos que envíes no sean tratados como SPAM.' %}
            {% include 'views/record--table.html' with type='TXT' name="deafult_domainkey."|add:servername|add:".example.com" required_value='La clave Dkim se generará durante el proceso' %}
        </div>

        <div class="page__section--fqdn">
            <h3>{% trans 'Advertencias' %}</h3>
            <p>{% trans 'El nombre del servidor y el FQDN son usados por múltiples aplicaciones, dentro del sistema. Todas ellas se actualizarán automáticamente para que funcionen con la nueva configuración.'%}</p>
            <p>{% trans 'Si estás usando software externos en otros dispositivos, por ejemplo, si tienes configurada alguna cuenta de correo en aplicaciones como Thunderbird o Outlook, tendrás que cambiar el valor para el servidor de entrada y de salida, y sustituirlo por el nuevo. Encontrarás los nuevos valores de configuración en la página de edición de cada cuenta de correo electrónico creada.'%}</p>
            <p>{% trans 'Si tienes activada alguna cuenta de VPN, tendrás también que volver a cargar la configuración en tu cliente, ya que el certificado se modificará, y el anterior dejará de ser válido.'%}</p>
       </div>
      <div class="page__section--fqdn">
        <p>{% trans 'Esta herramienta para el cambio de dominio del servidor, efectuará varias tareas:'%}</p>
          <ol>
            <li>{% trans 'Reactivar todas las aplicaciones que tengas desactivadas, para que puedan actualizarse con la nueva configuración. Una vez acabado el proceso podrás volver a desactivarlas, desde la página del listado de aplicaciones instaladas. '%}
            <li>{% trans 'Comprobación de la existencia de las entradas DNS necesarias. El cambio de dominio no se aplicará, hasta que la comprobación devuelva los resultados correctos. '%}
            <li>{% trans 'Bloqueo del Panel de Control durante el proceso. '%}
              <li>{% trans 'Se generará la clave DKIM para el nuevo dominio de este servidor, que tendrás que utilizar para crear la entrada DNS correspondiente. Este valor es muy importante para garantizar que los correos que envíes no sean tratados como SPAM.'%} <a href="{% url 'domains-instructions' %}#dkim">[+ Info]</a></li>
          </ol>
        {% trans 'Una vez terminado el proceso de forma satisfactoria, procederemos a eliminar las entradas DNS antiguas, creadas para el dominio '%}{{ fqdn }}
        </div>

    </div>
</div>
{% endblock %}
