{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--mail{% endblock %}
{% block page_html_title %}{% trans 'Cuenta de correo' %}{% endblock %}

{% block main %}
<h1 class="page__title--mail">
    {% trans 'Editar cuenta de correo' %} {{ mail_account }}
</h1>
<div class="page__subtitle--mail">
    {% if request.user.role != 'email' %}
      {% blocktrans trimmed %}
      Los titulares de una cuenta de correo electrónico pueden restablecer su
      contraseña entrando en el panel de control y utilizando como nombre
      de usuarix su dirección de correo.
      {% endblocktrans %}
    {% else %}
      {% blocktrans trimmed %}
      En esta página puedes consultar y editar los parámetros de configuración de la cuenta de correo
      {% endblocktrans %}

    {%endif %}
</div>
<div class="page__content--mail">
    <div class="page__content-right--mail">
        <div class="page__instructions--mail">
            {% include 'blocks/mail-configuration-instructions.html' with fqdn=fqdn %}
        </div>
    </div>
    <div class="page__content-left--mail">
        <h3>{{ mail_account }}</h3>
        {% if error %}
            <h4>{% trans '¿Qué estás haciendo?' %}</h4>
        {% else %}
            {% default_form form=form modifier='email' %}
        {%endif %}
    </div>
</div>
{% endblock %}
