{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--mailman-domains{% endblock %}
{% block page_html_title %}{% trans 'Dominios de Mailman' %}{% endblock %}

{% block main %}
<h1 class="page__title--mailman-domains">
    {% trans 'Dominios de Mailman' %}
</h1>
<h1 class="page__subtitle--mailman-domains">
    {% trans 'Comprueba el estado de tus dominios de Mailman' %}
</h1>
<div class="page__content--mailman-domains">
    <div class="page__wide-content-left--mailman-domains">

        <div class="view-mailman">
            <ul class="view-mailman__items">
                {% for domain in mailman_domains %}
                <li class="view-mailman__item">
                      {% include 'views/mailman--list.html' with domain=domain %}
                </li>
                {% empty %}
                <div class="view-mailman__empty">
                    <h4>
                        {% trans 'No hay ningún dominio activado para listas de correo.' %}
                    </h4>
                    <p>
                        {% trans 'Puedes activar dominios desde la aplicación Mailman' %}
                        <a target="_blank" href="/mailman">
                            {% trans 'Añadir dominios para listas de correo' %}
                        </a>
                    </p>
                    <p>
                        {% trans 'En caso de dudas puedes consultar las instrucciones en esta página: ' %}
                        <a href="https://docs.v2.maadix.net/mailman/" target="_blank">
                            https://docs.v2.maadix.net/mail-man/
                        </a>
                    </p>
                </div>
                {% endfor %}
            </ul>
        </div>
        {% include 'blocks/modal-dkim.html' %}
    </div>
</div>
{% endblock %}
