{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--front{% endblock %}
{% block page_html_title %}{% trans 'Estadísticas del sistema' %}{% endblock %}

{% block main %}
  <h1 class="page__title--system-details">
      {% trans 'Detalles del servidor' %}
  </h1>
  <div class="page__content--system-details">
        <div class="system-info__date">
            <span class="fa fa-clock-o"></span>
            {% trans 'Estadísticas de sistema tomadas el' %} {% now "d/b/Y" %} a las {% now "H:m" %}
        </div>

        <ul class="memory-stats system-info-block {% if memory.percent > 80 %}critical{% endif %}">
            {% include 'blocks/simple-chart.html' with w=graph_width h=graph_height s=ram_size %}
            <h3 class="memory-stats__title">
                <i class="fa fa-tasks"></i> {% trans 'Memoria RAM' %}
            </h3>
            <li class="memory-stats__item--total">
                <h5>{% trans 'Memoria disponible' %}</h5>
                <span class="value">{{ memory.total|gbs|floatformat:2  }}</span>
                <span class="unit">gbs<span>
            </li>
            <li class="memory-stats__item--free">
                <h5>{% trans 'Memoria libre' %}</h5>
                <span class="value">{{ memory.available|gbs|floatformat:2  }}</span>
                <span class="unit">gbs<span>
            </li>
            <li class="memory-stats__item--used">
                <h5>{% trans 'Memoria en uso' %}</h5>
                <span class="value">{{ memory.used|gbs|floatformat:2  }}</span>
                <span class="unit">gbs<span>  [{{ memory.percent }} %]
            </li>
        </ul>
        <ul class="disk-usage-stats system-info-block {% if disk_usage.percent > 80 %}critical{% endif %}">
            {% include 'blocks/simple-chart.html' with w=graph_width h=graph_height s=disk_size %}
            <h3 class="disk-usage-stats__title">
                <i class="fa fa-hdd-o"></i> {% trans 'Disco duro' %}
            </h3>
            <li class="disk-usage-stats__item--total">
                <h5>{% trans 'Espacio disponible' %}</h5>
                <span class="value">{{ disk_usage.total|gbs|floatformat:2 }}</span>
                <span class="unit">gbs<span>
            </li>
            <li class="disk-usage-stats__item--free">
                <h5>{% trans 'Espacio libre' %}</h5>
                <span class="value">{{ disk_usage.free|gbs|floatformat:2  }}</span>
                <span class="unit">gbs<span>
            </li>
            <li class="disk-usage-stats__item--used">
                <h5>{% trans 'Espacio usado' %}</h5>
                <span class="value">{{ disk_usage.used|gbs|floatformat:2  }}</span>
                <span class="unit">gbs<span> [{{ disk_usage.percent }} %]
            </li>
        </ul>
        <ul class="cpu-stats system-info-block">
            {% include 'blocks/cpu-chart.html' with w=graph_width h=graph_height bars=cpu_bars barwidth=cpu_barwidth %}
            <h3 class="cpu-stats__title">
                <i class="fa fa-tachometer"></i> {% trans 'CPU' %}
            </h3>
            <li class="cpu-stats__item--used">
                <h5>{% trans 'Porcentaje de uso' %}</h5>
                <span class="value">{{ cpu }}</span>
                <span class="unit">%<span>
            </li>
            <li class="cpu-stats__item">
                <h5>{% trans 'Número de cpus' %}</h5>
                <span class="value">{{ cpu_count }}</span>
                <span class="unit">cpus<span>
            </li>
        </ul>
        <div class="page__section--dns dns__fqdn--table">
          <h3 class="dns-stats__title">
            {% trans 'Configuración DNS del dominio del servidor' %}
          </h3>
            {% for record in records_A %}
                {% include 'views/record--table.html' with type='A' name=host value=record required_value=ip has_value=True has_status=True %}
            {% endfor %}

            {% for record in records_MX %}
                {% include 'views/record--table.html' with type='MX' name=host value=record required_value=valid_MX has_value=True has_status=True %}
            {% endfor %}
            {% include 'views/record--table.html' with type='TXT' subtype='SPF' name=host value=record_SPF required_value=valid_SPF has_value=True has_status=True %}
            {% include 'views/record--table.html' with type='TXT' domain=host  subtype='DKIM' name=dkim_domain value=record_DKIM required_value=required_dkim has_value=True has_status=True dkim_matches=dkim_matches %}
	</div>
        <div class="page__section--dns settings">
          <h3>{% trans 'Opciones avanzadas' %}</h3>
          <ul>
            <li><i class="fa fa-plus"></i> 
            <a href="{% url 'clean' %}" tilte="Liberar espacio">
                {% trans 'Liberar espacio en el servidor' %}
            </a>
            </li>
            <li><i class="fa fa-plus"></i>
            <a href="{% url 'fqdn' %}" tilte="Cambiar el dominio del servidor">
              {% trans 'Cambiar el dominio del servidor' %}
            </a>
            </li>
          </ul>
        </div>
  </div>
  {% if wizard_on %}
      {% include 'blocks/modal-wizard.html' %}
  {% endif %}
{% endblock %}
{% block page_scripts %}
<script type="text/javascript" src="{% js 'update-cpu-usage.js' %}"></script>
{% endblock %}
