{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--trass{% endblock %}
{% block page_html_title %}Trash{% endblock %}

{% block main %}
<h1 class="page__title--trash">
    {% trans 'Papelera de reciclaje' %}
</h1>
<div class="page__subtitle--services">
    {% trans 'Aquí puedes eliminar permanentemente las carpetas borradas.' %}
</div>

<div class="page__content--trash">
      <form class="form--trash default" method="post">
        {% if trash_status == 'error' %}
          <ul class="errorlist nonfield">
            <li>{% trans 'Una operación de borrado ha generado un error. Antes de eliminar otros elementos reanuda la operación anterior' %}</li>
          </ul>
        {% endif %}
	{{ form.non_field_errors }}
        <div class="page__wide-content-left--trash-update">
      {% csrf_token %}
      {% for k,item in trashContent.items %}
      <div class="page__section--trash">
      <h3>
        {% if k == 'domains' %}
          <i class="fa fa-globe"></i>
        {% elif  k == 'users' %}
          <i class="fa fa-users"></i>
        {% endif %}
        {% trans k %}
      </h3>
      </div>

          {% if item %}
          {% if trash_status != 'error' %}
	    <div class="dns--table">
	      <div class="field dns__checkbox--table">
	      <p class="field__value "><input id ="delete-all{{k}}" name="select-all" value="{{k}}" type="checkbox"><label class="select_all">{% trans 'Seleccionar todo' %}</label></p>
	    </div>
	    </div>
            {% endif %}
              {% for folder in item %} 
                {% with fname=folder.cn %}
                {% with field=form|get_countitem:fname %}
		<div class="dns--table">
		  <div class="field dns__checkbox--table">
                    {% if trash_status != 'error' and folder.status == 'intrash' %}
                      <label class="field__label">{% trans 'Eliminar' %}</label>
                      <p class="field__value {{k}}">{{ field }}</p>
                    {% elif trash_status != 'error' and folder.status == 'totrash' %}
                      <label class="field__label">{% trans 'Moviendo a la papelera' %}</label>
                      <p class="moving_field {{k}}"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
                      <span class="sr-only">Loading...</span></p>

                    {% endif %}
		  </div>
                {% endwith %}
                 {% endwith %}
		  <div class="field dns__name--table">
                    <label class="field__label">{% if k == 'domains' %}{% trans 'Dominio' %}{%else %}{% trans 'Nombre' %}{% endif%}</label>
		    <p class="field__value">{{ folder.type}}</p>
		  </div>
		  <div class="field dns__path--table">
	   	    <label class="field__label">{% trans 'Carpeta' %}</label>
		    <p class="field__value">{{ folder.otherPath}}</p>
		  </div>
		  <div class="field dns__desc--table">
		    <label class="field__label">{% trans 'Fecha' %}</label>
		    <p class="field__value">{{ folder.description }}</p>
		  </div>
		</div>
              {% endfor %}
          {% else %}
          {%trans ' No hay ningún elemento en la papelera ' %}
          {% endif %}
        {% endfor %}

        </div>
          <div class="page__wide-content-right--services-install">
              <button class="services-button" type="submit">
              {% if trash_status == 'error' %}
                {% trans 'Reanudar Operación' %}
              {%else %}
                {% trans 'Aplicar cambios' %}
              {% endif %}
              </button>
          </div>
          {% if show_modal %}
          {% include 'blocks/modal-confirm-write.html' %}
          {% endif %}
      </form>
</div>
{% endblock %}
{% block page_scripts %}
    <script type="text/javascript" src="{% js 'trash.js' %}"></script>
{% endblock %}

