{# Users overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--user{% endblock %}
{% block page_html_title %}{% trans 'Editar' %}{% endblock %}

{% block main %}
<h1 class="page__title--user">
    {% trans 'Editar cuenta' %}{{ username }}
</h1>
<div class="page__subtitle--user">
    {% trans 'Aquí puedes ver y editar cuentas de usuarix.' %}
</div>

<div class="page__content--user">
    <div class="page__content-left--user">
        {# loads and pass context to blocks/default-form.html #}
        {% if active_section == "usersedit" %} 
          {% default_form form=form modifier='user' %}
        {% else %}
          {% default_form form=form modifier='sshuser' %}
        {% endif %}
    </div>
</div>
{% endblock %}
