{# Users overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--users{% endblock %}
{% block page_html_title %}{% trans 'Usuarixs ordinarixs' %}{% endblock %}

{% block main %}
<h1 class="page__title--users">
    {% trans 'Usuarixs' %}
</h1>
<div class="page__subtitle--users">
    {% trans 'Aquí puedes ver, editar, crear y eliminar cuentas de usuarixs.' %}
</div>
<div class="page__content--users">
  <div id="form-wrapper--user" class="page__content-right--users {% if not display_form %}collapsed{% endif %}">
        <div class="page__actions--users">
            <button class="page__action--users add" data-toggle="form-wrapper--user">
                {% trans 'Crear nueva cuenta' %}
            </button>
        </div>
        <div class="{% if not display_form %}collapsed{% endif %}">
          {% if domains_module != 'error' %}
            {% default_form form=form modifier='user' %}
          {% endif %}
        </div>
    </div>
    <div class="page__content-left--users">
        {% if domains_module == 'error' %}
          <form class="default" method="POST">
          {% csrf_token %}
          <ul class="errorlist nonfield">
            <li>
            {% trans 'Una operación previa ha generado un error. Reanudala para poder eliminar cuentas' %}
            </li>
          </ul>
            <button class="modal__submit--genericlock confirm" type="submit" name="lockdomains">
          {% trans 'Reanudar Proceso' %}
            </button>
        </form>
        {% endif %}
        {% if user_services %}
        <div class="service-menu">
          <ul>
            {% for enabled_service in user_services %}
            <a href="{% url 'users' %}?service={{enabled_service }}" class="{% if request.GET.service == enabled_service %}active{% endif %}">
                  <li>
                  {{enabled_service }}
                  </li>
                </a>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <div class="view-users--grid">
            {% if users|length > 0 %}
            <ul class="view-users__items--grid">
                {% for user in users %}
                <div class="view-users__item--grid">
                    {% include 'views/user--list.html' with user=user %}
                </div>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% include 'blocks/modal-delete.html' %}
    {% include 'blocks/modal-notice.html' %}
</div>
{% endblock %}
