{# Renders a template with a single column of fixed with #}
{% extends 'base.html' %}
{% block layout_classes %}single-fixed{% endblock %}
{% load i18n templatetags %}
{% block layout %}
    <div class="container-fixed">
        <main class="region-content">
          <div id="logout-button">
            <a class="logout-button" href="{% url 'logout' %}">
                {% trans 'Salir' %}
            </a>
            {% include 'blocks/language-switch.html' %}
          </div>
            {% block main %}{% endblock %}
        </main>
    </div>
{% endblock %}
