{# Renders a template with a single column of fixed with #}
{% extends 'base.html' %}
{% block layout_classes %}single-fixed{% endblock %}
{% load i18n templatetags %}
{% block layout %}
    <div class="container-fixed">
        <main class="region-content">
            {% block main %}{% endblock %}
        </main>
    </div>
{% endblock %}
