// Main compilation point of the exception pages

//Import configuration file with the general settings of the theme
@import variables

*
  box-sizing: border-box

img
  max-width: 100%
  height: auto

.page--exception
  background: linear-gradient(to right, $palette_blue_dark, $palette_maadix)
  color: white
  min-height: 100vh
  padding: $m*4 0 0 0
  margin: 0

.page__content--exception
  width: 360px
  margin: 0 auto
  text-align: center

.page__text--exception
  font-family: $font_headers
  font-size: 2em

.page__logo--exception
  max-width: 50%
  margin: $m*2 auto
  padding: 0

.page__breadcrumb--exception
  margin-top: $m*2
  button
    text-transform: uppercase
    font-weight: 700
  button:hover
    cursor: pointer
