{# Messages region #}
{% extends 'regions/region-base.html' %}
{% load i18n templatetags %}

{% block region_content %}
    <ul class="messages-list">
        {% if messages %}{% for message in messages %}
            <li{% if message.tags %} class="messages-list__msg--{{ message.tags }}"{% endif %}>
              {{  message }}
              {% if message.tags == 'warning' %}
                <div class="closeMessage"><i class="fa fa-remove"></i> {{ 'OK ' }}</div>
             {% endif %}
            </li>
        {% endfor %}{% endif %}
    </ul>
{% endblock %}
