// Styles of the main container of the site

.region-content
  padding: 0
  display: inline-block
  background-color: #fafafa
  color: $palette_blue_dark
  width: 100vw
  +breakpoint('sm')
    width: calc(100% - #{$sidebar_width})
    margin-left: $sidebar_width

// Sticky footer
.region-content
  min-height: calc(100vh - #{ $m*3.5 })

// Override main region layout
.page--login,
.page--password-recovery,
.page--password-reset,
.page--activate,
.page--updating
  .region-content
    margin: 0 auto
    padding-top: $m*4
    min-height: calc(100vh - #{$m/2})
    width: 100%
    background: none

.page--login,
.page--password-recovery,
.page--password-reset,
.page--activate,
.page--updating
  background: linear-gradient(to right, $palette_blue_dark, $palette_maadix)

.page__title--login,
.page__title--password-recovery,
.page__title--password-reset,
  font-size: 1em
  color: white
  top: $m*15
  position: absolute
  left: $m*8
  z-index: 100
  background-color: transparent !important
  +transform-origin(0, 0)
  +transform( rotate(-90deg) )
  +breakpoint('xs')
    display: none 
  
.page--activate .page__content--activate
  background-color: white
  padding: $m/2
  +breakpoint('sm')
    padding: $m*2

.page--activate .page__content-left--activate
  width: 100%
