// Domain add form
  /templates/pages/domains-add.html

.form-adddomain__label
  margin: $m 0 $m/4

.form-adddomain__help
  margin-bottom: $m
  font-size: $size_small
  max-width: 50%
  opacity: .75
  text-align: justify

.form-adddomain__submit
  +button_maadix
  margin-top: $m*2
  display: block

.page__content-left--mail h3
  color: $palette_maadix
  margin-top: 0
