// Fake breadcrumb block
  /apps/templatetags/templatetags/templatetags.py

.fake-breadcrumb
  +button_none
  position: absolute
  z-index: 100
  top: .1em
  color: white
  font-family: $font_headers
  left: calc(16.66vw + #{$m + 2})
  font-size: .8em
  padding: 0
