// Hamburguer icon (for navigations)
=hamburguer-icon($side, $color)
  width: $side
  height: $side
  display: inline-block
  i
    width: 100%
    display: block
    height: 3px
    margin-bottom: 6px
    background-color: $color
    +transition(transform .25s ease)
  i:last-child
    margin-bottom: 0
  &:hover
    i
      background-color: $palette_maadix
    cursor: pointer

.hamburguer
  +hamburguer-icon($m, white)
  margin-top: $m/4
  +breakpoint('sm')
    display: none

.navigation-open .hamburguer
  i:first-child
    +transform(translateY(9px) rotate(45deg))
  i:nth-child(2)
    opacity: 0
  i:last-child
    +transform(translateY(-9px) rotate(-45deg))
