// Menu user
  /templates/menus/menu-user.html

.menu-user
  float: right
  z-index: 100
  font-family: $font_headers
  +links(#222, $palette_maadix, .2s ease)

.menu-user__label
  font-size: $size_small
  text-transform: uppercase
  line-height: $header_height
  +h(6)
  &:hover
    cursor: pointer
  img
    max-height: $m/2
    margin-right: $m/6

.menu-user__items
  position: absolute
  right: $m
  top: $header_height
  line-height: $m*2
  z-index: 100
  background: white
  padding: $m/2
  line-height: $m*1.5
  &.collapsed
    +collapsed
