// Menu user
  /templates/menus/menu-user.html

.lang-switcher
  float: right
  font-family: $font_headers
  +links(#222, $palette_maadix, .2s ease)
  input
    background: none
    border: none
    text-transform: uppercase
