// Page elements
  /templates/pages/*.html

[class*='page__meta']
  max-width: 480px
  float: left

[class*='page__content--']
  padding: $m/2
  +breakpoint('sm')
    padding: $m*2 0 $m*2 $m*2
  +animation(fadein 2s 1)

[class*='page__content-sidebar']
  padding: $m*2
  width: 16.66vw
  margin-left: $m*2
  float: right
  & + form,
  & + div
    width: calc(100% - 20vw)
// Thin content pages
[class*='page__content-left']
  +breakpoint('sm')
    width: calc(100% - 35vw)
    display: inline-block

[class*='page__content-right']
  +breakpoint('sm')
    width: 33vw
    float: right
// Wide central content pages
[class*='page__wide-content-left']
  +breakpoint('sm')
    width: calc(100% - 15vw)
    display: inline-block

[class*='page__wide-content-right']
  +breakpoint('sm')
    width: 13vw
    float: right

[class*='page__title']
  color: white
  line-height: $m
  padding: $m/2 $m
  margin: 0
  background-color: darken(#333d47, 5%)
  font-size: 1.25em
  text-transform: uppercase

[class*='page__subtitle']
  color: white
  padding: $m/4 $m
  margin-top: 0
  background-color: #333d47
  text-transform: uppercase
  font-size: $size_small
  +breakpoint('sm')
    line-height: $m

[class*='page__section']
  +links($palette_maadix, darken($palette_maadix, 10%), .1s ease)
  ul, ol
    padding: $m $m*4
    background: white
  li
    list-style: inherit
    margin-bottom: $m/4
  h3
    border-bottom: 2px solid $color_text
  h3:target
    background-color: $palette_maadix
    color: white
  p
    margin-bottom: $m/3
  pre, table
    background-color: white
  tr
    border-bottom: 1px solid rgba($color_text, .25)
  table
    width: 100%
    table-layout: fixed
  td, th
    padding: $m/2
    overflow: scroll
  td
    word-wrap: break-word

[class*='page__actions']
  text-align: right
  padding-right: $m*2

[class*='page__action'].add
  +button_white
  margin: 0 auto
  &:before
    content: "⌃"
    margin-right: $m/4

.collapsed [class*='page__action'].add:before
  content: "⌄"

[class*='page__instructions']
  background: white
  padding: $m
  font-size: 1.1em
  +links_maadix_dotted
  ul
    margin: $m/2 0
    margin-left: $m
  li
    list-style: disc
