// Update page
  /templates/pages/update.html

.reboot-text
  background: white
  padding: $m $m/2 
  +breakpoint('sm')
    padding: $m*2
  h3
    margin: 0 0 $m

.reboot-button
  margin-top: $m*2
  +button_success
