span.highlight
  background-color: $color_success
  color: white
  margin-right: $m/4
  font-size: .8em
  font-family: $font_headers
  padding: 0 $m/4
  &:before
    content: "✓" 

.page__content--activate ul, .page__content--activate li
  padding: $m

a.logout-button
  float: right
  color: white
  padding: $m/2
  text-transform: uppercase 
  font-family: "open-sans-condensed-bold", sans-serif

#logout-button .lang-switcher input
  color: white
  padding: $m/2
