{% load i18n %}

<div class="lang-switcher">
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
	{% if LANGUAGE_CODE != language.code %}
	  <input name="language" type="hidden" value="{{ language.code }}" />
          <input type="submit" value="{{ language.code }}" />
	{% endif %}
      {% endfor %}
</form>
</div>
