{# modal to confirm create dkimm #}
{% load i18n %}

<div class="modal--dkim" id="modal-dkim">
    <div class="modal__content-wrapper--dkim">
        <p class="modal__content--dkim">
            <div class="modal__text--delete">
            </div>
            <div class="modal__actions--dkim">
                <button class="modal__cancel--dkim" data-dismiss="#modal-dkim">
                    {% trans 'Cancelar' %}
                </button>
                <form class="update-form" method="POST" action="{% url 'api_create_dkim' %}">
                    {% csrf_token %}
                    <input type="hidden" name="dn" value="" />
                    <input type="hidden" name="url" value="{{ request.get_full_path }}" />
                    <button class="modal__submit--dkim" type="submit">
                        {% trans 'Crear' %}
                    </button>
                </form>
            </div>
        </p>
    </div>
</div>
