{# modal to warn notice #}
{% load i18n %}

<div class="modal--notice" id="modal-notice">
    <div class="modal__content-wrapper--notice">
        <p class="modal__content--notice">
            <div class="modal__text--notice">
            </div>
            <div class="modal__text--list-container">
              <ul class="modal__text--list">
              </ul>
            </div>
            <div class="modal__actions--notice">
                <button class="modal__cancel--notice" data-dismiss="#modal-notice">
                    {% trans 'Volver' %}
                </button>
            </div>
        </p>
    </div>
</div>
