{# modal to reboot maadix #}
{% load i18n %}

<div class="modal--wizard" id="modal-wizard">
    <div class="modal__content-wrapper--wizard">
        <p class="modal__content--wizard">
            <h5>{% trans 'Estás usando una versión de MaadiX que incluye nuevas opciones de seguridad para el servidor' %}</h5>

        {% if 'openvpn' in enabled_services and vpn_alert %}
          <h4>VPN</h4>
              <p>{% trans 'Se ha regenerado el certificado del servidor VPN.' %}</p>
              <p>{% trans 'El antiguo certificado ya no es válido. Vuelve a enviar las instrucciones y los archivos de configuración a todas las personas que tengan cuenta VPN activada, para que la actualicen en sus clientes de conexión. De lo contrario su conexión fallará. Las credenciales de acceso antiguas (nombre de la cuenta y contraseña) siguen siendo válidas.' %}</p>
        {% endif %}
            <h4>Seguridad</h4>
            <p>{% trans 'Ahora dispones de nuevas opciones para reforzar la seguridad del servidor.' %}</p>
            <p>{% trans 'Visita la página de configuración y aplica los parámetros que desees. '%}
            <a href="{% url 'system-config' %}">{% trans 'Ir a la página de connfiguración' %}</a></p>
            <div class="modal__actions--wizard">
                <button class="modal__cancel--wizard" data-dismiss="#modal-wizard">
                    {% trans 'recordar más tarde' %}
                </button>
                <form class="wizard-form" method="POST">
                    {% csrf_token %}
                    <button class="modal__submit--wizard" type="submit" name="wizardconfirm">
                        {% trans 'No mostrar más' %}
                    </button>
                </form>
            </div>
        </p>
    </div>
</div>
