{# modal to warn notice #}
{% load i18n templatetags %}

<div class="modal--loading" id="modal-loading">
    <div class="modal__content-wrapper--loading">
              <img src="{% img 'loading.gif' %}" />
    </div>
</div>
