{# modal to reboot maadix #}
{% load i18n %}

<div class="modal--clean" id="modal-clean">
    <div class="modal__content-wrapper--clean">
        <p class="modal__content--clean">
                <p>{% trans 'Los resultados del proceso de limpieza serán reflejados una vez el proceso haya terminado' %}</p>
                <p>{%trans '¿Confirmas que quieres liberar espacio en el servidor ahora?' %}</p>
            <div class="modal__actions--clean">
                <button class="modal__cancel--clean" data-dismiss="#modal-clean">
                    {% trans 'Cancelar' %}
                </button>
                <form class="clean-form" method="POST">
                    {% csrf_token %}
                    <button class="modal__submit--clean" type="submit">
                        {% trans 'Continuar' %}
                    </button>
                </form>
            </div>
        </p>
    </div>
</div>
