{# modal to reboot maadix #}
{% load i18n %}

<div class="modal--update" id="modal-update">
    <div class="modal__content-wrapper--update">
        <p class="modal__content--update">
            <div class="modal__text--update">
                <p>{% trans 'El proceso durará unos minutos durante los cuales el Panel de Control quedará inactivo' %}</p>
                <p>{% trans 'Todas las personas que tengan una sesión activa serán forzadas a salir y redireccionadas a una página en la que se mostrará el estado de la operación. '%}
                {% trans 'Cuando la operación termine se activará el formulario para volver a acceder.' %}</p>
                <p>{%trans '¿Confirmas que quieres actualizar a la nueva versión ahora?' %}</p>
            </div>
            <div class="modal__actions--update">
                <button class="modal__cancel--update" data-dismiss="#modal-update">
                    {% trans 'Cancelar' %}
                </button>
                <form class="update-form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="release" value="{{ release }}">
                    <button class="modal__submit--update" type="submit">
                        {% trans 'Actualizar' %}
                    </button>
                </form>
            </div>
        </p>
    </div>
</div>
