{# bubble charts for the system details page #}
{% load templatetags %}

<svg width="{{ w }}" height="{{ h }}" class="system-info-graph">
    <rect class="total" x="0" y="0"
          width="{{ w }}" height="{{ h }}">
    </rect>
    <rect class="available" x="0" y="{{ h|sub:s }}"
          width="{{ w }}" height="{{ s }}">
    </rect>
</svg>
