// OOCSS classes

.container-fixed
  +container_fixed
  position: relative

.container-fluid
  +container_fluid
  position: relative

.narrow-container
  width: $m*20
  max-width: 100%
  padding: 0 $m

.clearfix
  +clearfix

.inline
  display: inline-block

=collapsed
  height: 0
  overflow: hidden
  visibility: hidden
  pointer-events: none
